<div class="container" style="margin:50px 0">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar Novedades</h4>
            <form action="/admin/novedades/modificar" method="post">
            <input type="hidden" value="{{novedades.id}}" name="id">
                <div class="form-group">
                    <label for="">Título</label>
                    <input type="text" class="form-control" name="titulo" value="{{novedades.titulo}} ">
                </div>
                <div class="form-group">
                    <label for="">Subtítulo</label>
                    <input type="text" class="form-control" name="subtitulo" value="{{novedades.subtitulo}}">
                </div>
                 <div class="form-group">
                    <label for="exampleFormControlTextarea1">Cuerpo</label>
                    <textarea type="text" class="form-control" name="cuerpo">{{novedades.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            {{#if error}}
                 <p>{{mensaje}}</p>
            {{/if}}
        </div>
    </div>
</div>