 <main class="holder">
        <h2>Novedades</h2>
        <div style="float:right; position:relative; bottom:40px;">
            <form action="/novedades" method="get">
                <input type="text" placeholder="Buscar" name="q" {{#if q}} value="{{q}} " {{/if}}>
                <button type="submit">Buscar</button>
            </form>
        </div>
        {{#each novedades}}
        <div class="novedades">
            <h3>{{titulo}} </h3>
            <h4>{{subtitulo}}</h4>
            <p>{{cuerpo}} </p>
            <hr>
        </div>
        {{/each}}
        {{#if is_search}}
            {{#unless novedades.length}}
                 <p>No se encontraron resultados para "<b>{{q}}</b>"</p>
            {{/unless}}
        {{/if}}
    </main>